{%extends 'base.html'%}

{%block head%}
{%endblock%}

{%block body%}
	<div role="tabpanel">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#Who" aria-controls="Who" role="tab" data-toggle="tab">Who are we?</a></li>
	    <li role="presentation"><a href="#What" aria-controls="What" role="tab" data-toggle="tab">What do we do?</a></li>
	    <li role="presentation"><a href="#Charges" aria-controls="Charges" role="tab" data-toggle="tab">What do we charge?</a></li>
	    <li role="presentation"><a href="#Hire" aria-controls="Hire" role="tab" data-toggle="tab">Hire Us!</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="Who">
	    	<p>
			We are a close knit group of people who love the internet.
			Most of us graduated from St. Stephen's College, University of Delhi.
			All of us are addicted to programming and design.
		</p>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="What">
	    	<p>
			We build websites in the fastest time you have seen.
			The current record stands at 3 hours 55 minutes.
			We also maintain them at blazing speeds. Within 3 hours of a client telling
			us to update something the task is done.
			This is possible only because we sleep only an hour each. :-)
			In our office constant programming is always happening	
		</p>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="Charges">
	    	<p>
			Since we are driven primarily by passion we chare you only for maintaining te site
			and our daily bread. Thus we exit only to make websites. We have a few prebuilt
			packages you can choose from. If none of them fit your needs contact us and we will
			figure something out.
		</p>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="Hire">
	    	<p>
			Take your time and look at the market of web developers.
			Sure there are better ones,cheaper ones but the work we do, at the 
			speed and price we do it is unmatched. This is only possible because we 
			love this job.
		
			Here is what our contract generally looks like. Of course if you hire us 
			it will be tailored to the situation and your needs. This is a simple
			guideline.
		</p>
	    </div>
	  </div>

	</div>
	
{%endblock%}
